
*.user
*.suo
StyleCop.Cache

/tools/github-cmdlets/source/packages
/tools/github-cmdlets/source/TestResults
/tools/github-cmdlets/source/Github.Powershell/obj
/tools/github-cmdlets/source/Github.Powershell/bin
/tools/github-cmdlets/source/Github.Api.Tests/obj
/tools/github-cmdlets/source/Github.Api.Tests/bin
/tools/github-cmdlets/source/Github.Api/obj
/tools/github-cmdlets/source/Github.Api/bin
/tools/github-cmdlets/source/Github.Api.Tests/dev.app.config

/tools/Marker/source/Marker.UI/bin
/tools/Marker/source/packages
/tools/Marker/source/Marker.Core.Tests/bin
/tools/Marker/source/Marker.Core.Tests/obj
/tools/Marker/source/Marker.Core/bin
/tools/Marker/source/Marker.Core/obj
/tools/Marker/source/Marker.UI/obj
/tools/Marker/source/Markercmd/bin
/tools/Marker/source/Markercmd/obj
/tools/Marker/source/Model/bin
/tools/Marker/source/Model/obj
/tools/Marker/source/Wilco.SyntaxHighlighting/bin
/tools/Marker/source/Wilco.SyntaxHighlighting/obj